h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  display: inline;
}
.svg-container {
  display: inline;
  align-items: center;
  align-content: center;
  margin-left: 15px;
}
svg {
  position: relative;
  height: 32px;
  width: 32px;
  margin: -15px 2.5px 0;

}

.header.col {
  align-items: center;
  align-content: center;
}
