/* background-color: #FAF7ED;
header-color: #014C3E;
button-background-color: #008060;
button-background-color:hover: #014C3E;
background-color-white: #FAF7ED;
text-color: 014c3e; */

body {
  /* background: #141414; */
  background-color: #faf7ed;
  color: #014c3e;
  box-sizing: border-box;
}

/*///////////////////////////////////*/
/*////////////    LOGO   ////////////*/
/*///////////////////////////////////*/
.top {
  margin: 15px auto 1em;
  text-align: center;
}
.logo-img {
  display: inline;
  margin-right: 10px;
  margin-top: -20px;
}
.logo-text {
  font-family: myriad-pro, sans-serif;
  display: inline;
  margin-top: 25px;
  color: #000;
}

/*///////////////////////////////////*/
/*///////////////////////////////////*/
/*///////////////////////////////////*/

.shoppies > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

/*///////////////////////////////////*/
/*///////// Image Overlay ///////////*/
/*///////////////////////////////////*/

.image-container {
  position: relative;
  width: 300px;
  height: 450px;
  transition: transform 0.2s;
  border: 1px solid #014c3e;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  color: white;
}

/*///////////////////////////////////*/
/*///////////////////////////////////*/
/*///////////////////////////////////*/

.movie-info {
  margin-top: 10px;
  padding: 10px 15px;
  max-width: 300px;
}
.movie-info h5 {
  display: inline;
}

.block {
  display: block;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 32px;
  text-align: left;
}
